





*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --color1: #0B0C10;
    --color2: #1F2833;
    --color3: #C5C6C7;
    --color4: #66FCF1;
    --color5: #45A29E;
         
}
body{
    background: var(--color1);
    color: var(--color3);
    


}

nav{
    background: var(--color2);
    display: flex;
    /* color: var(--color4); */
    justify-content: space-between;
    align-items: center;

    
}
a{
    color: var(--color4)
}


.logo{
    margin: 2rem;
    width: 3rem;
    height: 2rem;
    /* background: var(--color5); */
}

aside {
    position: fixed;
   width: 0;    
   height: 100vh;
   background: var(--color2);
   overflow: hidden;
   transition: width .4s ease;

   
}


#modal{
    position: fixed;
    width: 0;
    height: 100vh;

    background: hsla(0, 0%, 0%, 0.5);
    transition: background 4s ease-in-out;
}
.options{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
   
}
main{
    margin: 5rem;
}
footer{

    position: absolute;
    
    bottom: 0;
    background: var(--color2);
    width: 100vw;
    
}